$desktop-width: 1200px;
$desktop-min-width: 1024px;
$tablet-width: 1023px;
$tablet-min-width: 768px;
$mobile-width: 767px;
$mobile-min-width: 320px;

$main-font: "Montserrat", "Arial", sans-serif;

$white: #ffffff;
$black: #141517;
$lighter-black: #2c2e3f;
$red: #fe7865;
$orange: #f17d4b;

$tablet-link: #48494d;
$tablet-bg: #fbf8f8;

$main-bg: #6b93b7;

$footer-border: #d7d9df;
