.page {
  height: 100%;
}

.page__body {
  position: relative;

  display: grid;
  grid-template-rows: min-content 1fr min-content;

  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $lighter-black;

  background-color: $white;
}
