.main-nav__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 320px;
    min-height: 568px;
    padding-top: 134px;

    background-color: $white;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.main-nav__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: $black;
  text-decoration: none;

  &:hover {
    color: $red;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px 17px 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $tablet-link;

    background-color: $tablet-bg;

    &::after {
      content: "";

      width: 8px;
      height: 12px;

      background-image: url("../img/svg/arrow-link.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 100%;
    padding: 0;

    background-color: $red;
    border: none;

    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    width: 50px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  width: 22px;
  height: 1px;

  background-color: $white;
  box-shadow: 0 5px 0 0 $white, 0 -5px 0 0 $white;
}

.main-nav--closed .main-nav__list {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/svg/closed-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: $white;
}

.main-nav--opened .main-nav__list {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

//.main-nav--closed .main-nav__toggle:active::before {
//  background-color: fade(#ffffff, 30%);
//  box-shadow: 0 8px 0 0 fade(#ffffff, 30%),
//  0 16px 0 0 fade(#ffffff, 30%);
//}
